.workspace-overview-body {
    position: relative;
    height: 220px;
}

.workspace-overview-body .description {
    height: 140px;
    overflow: hidden;
}

.workspace-overview-body .action-open {
    position: absolute;
    bottom: 8px;
}

.workspace-overview-body .center-vertical {
    height: 100vh;
}

    .workspace-overview-body .center-vertical svg {
        position: relative;
        transform: translateY(100%);
    }
    .workspace-overview-body .center-vertical svg:hover {
        position: relative;
        transform: translateY(90%);
    }

    .workspace-overview-body.workspace-overview-new-body {
        height: 270px;
    }

        .workspace-overview-body.workspace-overview-new-body .center-vertical svg {
            transform: translateY(150%);
        }